<form action="/toTxt">
<div class="container">
    <div class="auto">
    <div class="autoName">
        <h1>Укажите ваши характеристики</h1>
        <p>Цвет волос</p>
        <input type="text" name="autoName">
    </div>
        <p>Цвет глаз</p>
        <input type="text" name="year">
        <p>Рост</p>
        <input type="number" name="price">
         <p>Вес</p>
        <input type="number" name="price">
         <p>Размер ноги</p>
        <input type="number" name="price">
        <p>Ваше телосложения</p>
        <input type="text" name="price">
        <p>Цвет кожи</p>
        <input type="text" name="price">
        <br><br>
        <div class="submit">
        <input type="submit" >
        </div>
    </div>
</div>
    </form>


    <div class="block1">
        <a href="/listOfCars">Ваши результаты</a>

    </div>
