<form action="/toTxt">
<div class="container">
    <div class="auto">
    <div class="autoName">
        <p>Марка автомобиля</p>
        <input type="text" name="autoName">
    </div>
        <p>Год выпуска</p>
        <input type="number" name="year">
        <p>Цена</p>
        <input type="number" name="price">
        <input type="submit">
    </div>
</div>
    </form>


    <div class="block1">
        <a href="/listOfCars">Список всех машин</a>

    </div>
