body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}


.block1{
  width: 200px;
  height: 100px;
  border: 1px solid red;
  background-color: aqua;
}
.block1 a{
  text-decoration: none;
}

.autoName p{
  color: red;
}